
<div class="header">
      <div class="bg-color">
        <div class="wrapper">
        	<div class="container">
         	 <div class="row">
          	  <div class="col-md-12">
          	    <div class="banner-text">
           	     <h2>Hi, I am <span>Cognition</span></h2>
           	     <p>A Machine Learning Application <br>designed to help you.</p>
          	    </div>
           	   <div class="overlay-detail text-center">
           	       <a><i class="fa fa-angle-down"></i></a>
           	   </div>
          	  </div>
          	</div>
          </div>
        </div>
      </div>
  </div>
   <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-right">
          <h2 class="title-text">
            Meet<br><span class="deco">Cognition</span>
          </h2>
        </div>
        <div class="col-md-6 text-left">
          <div class="about-text">
            <p>Hello, I want to use algorithms from a wide variety of sources to demonstration the real world application of algorithms for those who might shy away from such phrases as "Statistical Classifcation Algorithm". I will do my best to explain each and every step of the process for my users. Thanks for visiting.</p>
            <p>&nbsp;</p>
            <p>I use implementation of algorithms written by MIT students in javascript. I couldn't do what do without these students and I'd like to take a moment to thanks them below.</p>
            <p>&nbsp;</p>
            <ul class="abt-list">
              <li>- <a target="_blank" href="https://github.com/NathanEpstein/clusters">Nathan Epstein</a></li>
              <li>- <a target="_blank" href="https://github.com/willkurt/ID3-Decision-Tree">Will Kurt</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>